$clr-text: #141414;
$clr-interact: #7D1B00;
$clr-light: #aaa;

body {
    background-color: #fff;
    color: $clr-text;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.8em;
    margin-top: .8rem;
}

h2 {
    font-size: 1.4em;
    margin-top: 0.6rem;
}

h3 {
    font-size: 1.2em;
    margin-top: 0.4rem;
}

input {
    border: 1px solid;
    margin: 2px;
    padding: 2px;
}

button {
    appearance: none;
    --webkit-appearance: none;
    border: 1px solid #000;
    margin: 2px;
    padding: 2px;
}

.tooltip--anchor {
    position: relative;
    color: $clr-interact;
    cursor: pointer;

    &:hover .tooltip--content {
        display: block;
    }
}

.tooltip--content {
    color: $clr-text;
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateX(-50%);
    background: $clr-light;
    min-width: 180px;
    padding: 0 0.4em;
}

.container {
}

header {
}

.inputs {
    padding: 1rem;
    font-size: 1.4em;

    label {
        font-weight: 700;
    }

    input {
        margin-left: 0.2em;
    }
}

.outputs {
    padding: 1rem;
}

.inputs--field {
    margin-right: 1rem;

    input {
        width: 2ch;
    }
}

.action-queue--wrap {
    display: flex;
}

.action-queue--volley {
    width: 180px;
}

.action-queue--clear {
    font-size: 0.6em;
    margin-left: 0.4rem;
}

.exchange {
    display: flex;
    padding: 1rem;

    h2, h3 {
        text-align: center;
    }
}

.volley {
    flex-grow: 1;
    margin: 0 0.2em;
    padding: 0 0.4em;
    background: #F7F7F7;

    &.appendix {
        flex-grow: 0;
        flex-basis: 80px;
    }
}

.volley--action {
    button, input {
        width: 2ch;
        height: 1.5rem;
        line-height: 0.9;
    }

    button {
        color: $clr-light;
        width: 2ch;

        &.selected {
            color: $clr-interact;
        }

        &[disabled] {
            border-color: $clr-light;
        }
    }
}

.volley--action-group {
    margin-bottom: 2rem;
}

.volley--action-group-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.volley--action {
    width: 180px;
}

.volley--placeholder {
    border: 1px solid;

    &.large {
        font-size: 1.4em;
    }
}
